* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background: linear-gradient(0deg,
      rgba(0, 0, 255, 0.551),
      rgba(164, 0, 0, 0.515));
  position: relative;
}






header .title {
  background-color: rgb(0, 0, 169);
  text-align: center;
  color: white;
  font-size: 1.3rem;
  padding: 5px;
  height: 63px;
  position: relative;
  top: 0px;
}

/* header marquee {
  color: yellow;
  font-size: 1.1rem;
} */

header .run {
  /* background-color: red; */
  height: 40px;
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt p {
  text-align: center;
}






main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  top: 40px;
}




.searchbar {
  height: 40px;
  width: 360px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 100%;
  width: 65%;
  border-radius: 20px;
  outline: none;
  border: 1px solid aqua;
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 0.586),
      rgba(0, 0, 255, 0.551));
  padding: 0px 10px;
  color: yellow;
  font-size: 0.9rem;
  cursor: pointer;
}

button {
  height: 97%;
  width: 33%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px black;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(209, 209, 0);
  font-size: 1rem;
}

button:hover {
  background-color: yellow;
}








.rezults {
  height: 450px;
  width: 430px;

  background-color: rgb(208, 231, 255);
  border-radius: 50px;
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  box-shadow: 0 0 30px white;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 35px;
}



.imglocation {
  height: 130px;
  width: 88%;
  border-radius: 25px;
  background-color: rgba(255, 255, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  animation: slideUp forwards 1s ease-out;
  position: absolute;
  top: 20px;


}

.location {
  height: 100%;
  width: 80%;
  padding: 5px;
  /* border: 1px solid; */
  overflow: hidden;
}

.location h1 {
  font-size: 25px;
}

.location p {
  font-size: 13px;
}

.location h3 {
  padding-top: 5px;
}

.img {
  height: 57%;
  width: 18%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: url("img4.webp") center center no-repeat;
  background-size: cover;
}





.info {
  height: 58%;
  width: 90%;
  position: absolute;
  bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, .8);
  border-radius: 35px;
  padding: 35px 20px 20px 20px;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  animation: slideUp forwards 2s ease-in-out;
  border: 1px solid yellow;


}

.info1,
.info2 {
  height: 100%;
  width: 49%;
  /* border: 1px solid; */
}

.info h5{
  color: yellow;
}
.info p{
  font-size: 17px;
}




.info1 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.info2{
  padding-left: 20px;
}
.info2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



.info3{
  height: 162px;
  border: 1px solid yellow;
  position: relative;
  top: -30px;
}

@keyframes slideUp {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}










@media (max-width: 500px) {
  .rezults {
    width: 350px;
    height: 460px;
  }

  .img {
    height: 46%;
  }




  .searchbar {
    width: 300px;
    height: 50px;
  }

  input {
    font-size: 0.7rem;
  }

  .txt p {
    font-size: 13px;
  }

}









footer {
  height: auto;
  padding: 2px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

footer #m {
  color: white;
  font-size: .8rem;
  box-shadow: 0 0 30px rgba(255, 255, 255, .6);
  text-align: center;
  padding: 5px;
  font-style: italic;
}